/bin/*
!/bin/windows
/bin/windows/*
!/bin/windows/python
/bin/windows/python/*
!/bin/windows/python/environment.yml
!/bin/windows/python/bin
/bin/windows/python/bin/*
!/bin/windows/python/bin/conda-venv
/bin/windows/python/bin/conda-venv/*
!/bin/windows/python/bin/conda-venv/Lib
/bin/windows/python/bin/conda-venv/Lib/*
!/bin/windows/python/bin/conda-venv/Lib/site-packages
/bin/windows/python/bin/conda-venv/Lib/site-packages/*
!/bin/windows/python/bin/conda-venv/Lib/site-packages/xbfewsTools
